a {
  text-decoration: none;
}

body{
  padding: 1em;
  background-color: rgb(226, 230, 219);
}

input.error {
	border: 1px red solid;
}

.prettyScroll{overflow: auto!important;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}
.prettyScroll::-webkit-scrollbar{width:8px}
.prettyScroll::-webkit-scrollbar-thumb{background:#909fa7}
.prettyScroll::-webkit-scrollbar-track-piece{background:#c2c7ca}
#projects.prettyScroll {max-height:170px;}

.show {
	display: block;
}

#createTask{
	position: relative;
}
#newTask {
	background-color: rgb(136, 204, 204);
	border: 1px solid silver;
	padding: 1em;
} 

#projectPicker {
	border: 1px solid silver;
	padding: 0;
	position: absolute;
	width: 24%;
	background-color: rgb(207, 194, 194);
	top: 0;
	left: 514px;
	display: none;
	overflow: hidden;
}


#description {
	padding: .5em 2%;
	width: 61%;
	border: 0;
}

#time {
	border: 0;
	float: right;
	margin-left: 2%;
	padding: .5em 2%;
	width: 27%;
}

#start {
	background: green;
	color: white;
	display: inline-block;
	margin-top: 1em;
	padding: 0.4em 0;
	text-align: center;
	width: 100%;
}

a#start.icon-stop {
	background: red;
}

#project, #billable {
	display: none;
}

@media screen and (min-width: 600px) {
	#description {
		width: 53%;
	}
	#time {
		float: none;
		width: 15%;
		margin: 0;
	}
	#start {
		width: 20%;
		margin: 0;
		margin-left: 2%;
	
		font-size: 1.3em;
		float: right;
}

}

@media screen and (min-width: 800px) {
	
	#description {
		width: 62%;
	}
	#time {
		width: 8%;}
	#start {
		float: right;
		margin: 0;
	}
	#projectPicker {
		display: none;
	}
}

/*Descktop view port size*/
@media screen and (min-width: 1200px) {
	body {padding: 3% 5%;}
	
	#project, #billable {
		display: inline-block;
		padding: 1em 2%;
		font-size: 1.1em;
	}
	#project{
		width: 20%;
	} 
	#billable {
		width: 1%;
	}
	#newTask {
		background-color: white;
		border: 0;
		padding: 0;
		vertical-align: top;
	}
	#time {
		width: 10%;
		padding: 1em 2%;
		font-size: 1.1em;
	}
	#start {
		width: 7%;
		padding: .4em 2%;
		font-size: 2em;
	}
	#description {
		width: 40%;
		padding: 1em 2%;
		font-size: 1.1em;
	}
}


#findProject, #newProjectName {
    border: 0;
    font-size: 1.1em;
    padding: 1em 10% 1em 5%; 
    width: 85%;
}

#findControl {
	position: relative;
}

div#newProject {
    height: 319px;
    position: absolute;
    top: -319px;
    -o-transition: 0.3s;  
    -ms-transition: 0.3s;  
    -moz-transition: 0.3s;  
    -webkit-transition: 0.3s;  
    transition: 0.3s;
    background: gray;
    z-index: 2;
}

div#newProject.show{
	top: 0;
}

a#close {
    position: absolute;
    right: 12px;
    top: 19px;
}

ul#projects {
    font-size: 14px;
    padding: 1.2em;
    margin: 0;
    list-style: none;
    border-bottom: 2px solid gray;
    background-color: rgb(230, 227, 231);
}

#projects > li {
	margin: .5em 0;
}

#projects > li > a {
	color: black;
}

#createproj {
	background: white;
	color: black;
	display: block;
	font-weight: bold;
	margin: 1.3em auto;
	padding: .5em 0;
	text-align: center;
	width: 50%;
	font-size: .7em;
}


#saveProject {
	background: green;
	color: white;
	display: block;
	font-weight: bold;
	margin: 1.3em auto;
	padding: .5em 0;
	text-align: center;
	width: 50%;
	font-size: .7em;

}