//base color
nst_orange = #F27621

//analogous colors
orange_20 = #DB8113
orange_40 = #F9AC16
red_40 = #DB4713
red_20 = #F93016

//complementary colors
c_brown = #A54A0B
c_peach = #FF8B3C
c_blue = #009AA5
c_cyan = #21E4F2

//triad colors
t_brown = #A54706
t_green = #47F43A
t_cyan = #1E07BF
t_blue = #210EA5

//default font color
df_black = #797979