.scroll
  overflow auto!important
  overflow-scrolling touch

.scroll::-webkit-scrollbar
  width 0.3rem

.scroll::-webkit-scrollbar-thumb
  background #909FA7

.scroll::-webkit-scrollbar-track-piece
  background #C2C7CA
