body{
	padding: 1em;
	background-color: rgb(226, 230, 219);
}

a {
	text-decoration: none;
}

#projectPicker{
	display: none;
}


#description {
	padding: .5em 2%;
	width: 61%;
	border: 0;
}

#time {
	border: 0;
	float: right;
	margin-left: 2%;
	padding: .5em 2%;
	width: 27%;
}

#start {
	background: green;
	color: white;
	display: inline-block;
	font-weight: bold;
	margin-top: 1em;
	padding: .5em 0;
	text-align: center;
	width: 100%;
}

#newTask {
	background-color: rgb(136, 204, 204);
	border: 1px solid silver;
	padding: 1em;
} 

#project, #billable {
	display: none;
}

@media screen and (min-width: 600px) {
	#description {
		width: 53%;
	}
	#time {
		float: none;
		width: 15%;
		margin: 0;
	}
	#start {
		width: 20%;
		margin: 0;
		margin-left: 2%;
	}
}

@media screen and (min-width: 800px) {
	
	#description {
		width: 62%;
	}
	#time {
		width: 8%;}
	#start {
		float: right;
		margin: 0;
	}

}

@media screen and (min-width: 1200px) {
	body {padding: 3% 5%;}
	
	#project, #billable {
		display: inline-block;
		padding: 1em 2%;
		font-size: 1.1em;
	}
	#project{
		width: 20%;
	} 
	#billable {
		width: 1%;
	}
	#newTask {
		background-color: white;
		border: 0;
		padding: 0;
		vertical-align: top;
	}
	#time {
		width: 10%;
		padding: 1em 2%;
		font-size: 1.1em;
	}
	#start {
		width: 7%;
		padding: 1em 2%;
		font-size: 1.1em;
	}
	#description {
		width: 40%;
		padding: 1em 2%;
		font-size: 1.1em;
	}
}