body{
	padding: 1em;
	background-color: rgb(226, 230, 219);
}

a {
	text-decoration: none;
}

#description {
	padding: .5em 2%;
	width: 61%;
	border: 0;
}

#time {
	border: 0;
	float: right;
	margin-left: 2%;
	padding: .5em 2%;
	width: 27%;
}

#start {
	background: green;
	color: white;
	display: inline-block;
	font-weight: bold;
	margin-top: 1em;
	padding: .5em 0;
	text-align: center;
	width: 100%;
}

#newTask {
	background-color: rgb(136, 204, 204);
	border: 1px solid silver;
	padding: 1em;
} 

#project, #billable {
	display: none;
}

@media screen and (min-width: 600px) {
	#time {
		float : none;
		width : 12%;
	}
	#start {
		width: 15%;
		margin: 0;
	}
}

@media screen and (min-width: 800px) {
	#project, #billable {
		display: inline-block;
	}
	#description {
		width: 50%;
	}
}